* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth; 
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #E5E5E5;;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.header {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 30% 70%;
  padding: 40px;
  border-bottom: 2px solid #333;
}
.header-photo {
  width: 70%;
  margin: 0 auto;
  
}
.header-photo img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.header-info {
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  margin-top: 40px;
  flex-wrap: wrap;
}
.nav-item {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
} 
.nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background: #bbb;
  color: black;
}
.main {
  display: grid;
  grid-template-columns: 50% 50%;
}
.section-title {
  padding: 10px 0;
}
.section-text {
  font-size: 18px;
  padding: 10px 80px 10px 10px;
}
.contacts-list {
  padding: 10px 80px 10px 27px;
}
.contacts-item {
  font-size: 18px;
}
.skills-list {
  padding: 10px 80px 10px 27px;
}
.skills-item {
  font-size: 18px;
}
.section-code {
  padding: 10px 80px 10px 10px;
}
.projects-list {
  padding: 10px 80px 10px 27px;
}
.projects-item {
  font-size: 18px;
}
.projects-item a {
  text-decoration: none;
  color: black;
}
.projects-item a:hover {
  opacity: 0.6;
}
section {
  padding-bottom: 30px;
}
section:nth-child(1n) {
  padding-left: 60px;
}
footer {
  height: 80px;
  width: 100%;
  background: #bbb;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}
.footer-img {
  width: 100px;
}
.footer-img img {
  width: 100%;
  height: auto;
  display: block;
}
.footer-git a {
  text-decoration: none;
  color: black;
  font-size: 18px;

}
.footer-git a:hover {
  opacity: 0.7;
}